<p>
  Single Node Force Layout on HTML5 Canvas with Zoom and Pan!
</p>

<div id="theCanvas">
  <table border="2"><tr><td>
    <canvas id="mycanvaz" width="500" height="200"></canvas>
  </td></tr></table>
</div>


<div *ngIf="eventX">
  Event: {{eventX}}, {{eventY}} Invert: {{invertEventX}}, {{invertEventY}} Apply: {{applyEventX}}, {{applyEventY}}
  <br><br>
  Transform {{transformX}}, {{transformY}}, {{transformK}}
</div>
<div *ngIf="drawCircleX">
  Draw Circle Center: {{drawCircleX}}, {{drawCircleY}}
</div>
