<h2>Installation</h2>

<ol>
  <li>Clone to a directory.</li>
  <li>CD into directory.</li>
  <li>Run "npm install"</li>
  <li>Run "ng serve"</li>
  <li>Navigate browser to <a href="http://localhost:4200">http://localhost:4200</a></li>
</ol>



<h2>
  Testing of Force Layout with D3
</h2>

<p>This application was build to test a problem with zomming and panning a D3 Force Layout graph.</p>

<p>All are built with D3 V4 on HTML5 Canvas using the Angular 2 cli (http://cli.angular.io).</p>

<h2>
  To replicate problem:
</h2>
<ul>
  <li>Open "Force on Canvas + Zoom", zoom in, drag a node and watch node travel more than the mouse.</li>
</ul>


<h2>
  To replicate for debugging:
</h2>
<ol>
  <li>Two views have only one node drawn, simplifying the process.</li>
  <li>Open the single node version of <a routerLink="/zoompandragon" routerLinkActive="active">Zoom-Pan-Drag</a>, black dot will be at the center (250,100).</li>
  <li>Grab and drag the black dot left to position Event: (200, 100), as shown in display below graph (appears when dragging).</li>
  <li>Grab the canvas (not the node) and grad it right 50 units so the Transform data below graph reads 50, 0, 1.</li>
  <li>Grab the node and again drag it left 50 units to Event: (200, 100). </li>
  <li>Open single node version of <a routerLink="/forcecanvaszpon" routerLinkActive="active">Force Canvas+Zoom Pan</a>; a blue dot will be at the center (250, 100).</li>
  <li>Repeat steps 3-5 with the blue dot on this view.</li>
  <li>Compare the readouts at teh bottom of the canvas on the two views. The event on the Force Layout represents Model Space rather than Canvas Space. This seems to be the core of the problem.</li>
</ol>

<h2>Summary of pages</h2>

<ol>
  <li>Zoom-Pan-Drag demonstrates gragging dots around the screen. This page is modifed from <a href="https://bl.ocks.org/mbostock/2b534b091d80a8de39219dd076b316cd">Drag & Zoom</a></li>
  <li>Force Canvas demonstrates a Force Layout graph with dragging but no zoom and pan. This page is modifed from <a href="http://bl.ocks.org/mbostock/ad70335eeef6d167bc36fd3c04378048">Force Dragging III</a>, but nodes are locked in position after release.</li>
  <li>Force Canvas+Zoom and Pan demonstrates Force Layout with dragging AND zoom and pan. To replicate error: zoom in, drag a node, and watch the node move faster than your mouse.</li>
  <li>Working Force Canvas+Zoom and Pan uses a drag().subject() handler adapted from Zoom-Pan-Drag rather than simulation.find(), but introduces drawing errors.</li>
  <li>Two Single Node projects display the location of events and node drawing below the canvas to facilitate debugging. Some info reported to console as well.</li>
</ol>

<h1>Bugs/Problems/Questions</h1>

<h2>Primary Question:</h2>
In "Force on Canvas + Zoom (with zoom bug)" above, when zoomed in, why does a node not track the mouse dragging it? Zoom transformation is not correctly applied.

Further debugging suggest that when the drag().subject() handler uses simulation.find(), the d3.event.x that appears in the onDrag.start() event is not equivalent to the event in drag.subject() handler; it already has transform.applyX(d3.event.x) applied.
This is incontrast to the same point in the lifecycle of the Drag+Zoom example without force layout. Drag+Zoom has a "homespun" handler for drag().subject().
Copying it into this project results in correct drag behavior when zoomed, but introduces other drawing problems.

<h2>Secondary Questions:</h2>
<ul>
  <li>In the import 'import * as d3 from "d3";' the d3 is not recognized although I have npm installed d3 and the latest typings</li>
  <li>When switching betten item 2) above ("Force Canvas") and item 3) above ("Force Canvas+Zoom and Pan"), the graph is almost (but not quite) identical, even after dragging items. Is the d3 model a singleton? </li>
</ul>
