<h2>Installation</h2>

<ol>
  <li>Clone to a directory.</li>
  <li>CD into directory.</li>
  <li>Run "npm install"</li>
  <li>Run "ng serve"</li>
  <li>Navigate browser to <a href="http://localhost:4200">http://localhost:4200</a></li>
</ol>



<h2>
  Testing of Force Layout with D3
</h2>

<b>Note: This repo was originally linked to because of a force-layout-zoom-dragging problem. This has been resolved and the correct implementation is in the Force Canvas + Zoom sample above.</b>

<p>This application was build to test adapting D3 samples into Angular 2.</p>

<p>All are built with D3 V4 on HTML5 Canvas using the Angular 2 cli (http://cli.angular.io).</p>


<h2>Summary of pages</h2>

<ol>
  <li>Zoom-Pan-Drag demonstrates gragging dots around the screen. This page is modifed from <a href="https://bl.ocks.org/mbostock/2b534b091d80a8de39219dd076b316cd">Drag & Zoom</a></li>
  <li>Force Canvas demonstrates a Force Layout graph with dragging but no zoom and pan. This page is modifed from <a href="http://bl.ocks.org/mbostock/ad70335eeef6d167bc36fd3c04378048">Force Dragging III</a>, but nodes are locked in position after release.</li>
  <li>Working Force Canvas+Zoom and Pan uses a drag().subject() handler adapted from Zoom-Pan-Drag rather than simulation.find().</li>
  <li>Two Single Node projects exist in the repo but are not linked. They display the location of events and node drawing below the canvas to facilitate debugging. Some info reported to console as well.</li>
</ol>

<h1>Bugs/Problems/Questions</h1>

<h2>Interesting Question:</h2>

When switching between item 2) above ("Force Canvas") and item 3) above ("Force Canvas+Zoom "), the graph is almost (but not quite) identical, even after dragging items. Is the d3 model a singleton?
